In [13]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import pickle
import json

In [67]:
data = pd.read_csv('./data/audi.csv')

In [68]:
data.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [69]:
len(data)

10668

In [70]:
df = data[data.model != 'A1']

In [71]:
data.describe()

,year,price,mileage,tax,mpg,engineSize
count,10668.000000,10668.000000,10668.000000,10668.000000,10668.000000,10668.000000
mean,2017.100675,22896.685039,24827.244001,126.011436,50.770022,1.930709
std,2.167494,11714.841888,23505.257205,67.170294,12.949782,0.602957
min,1997.000000,1490.000000,1.000000,0.000000,18.900000,0.000000
25%,2016.000000,15130.750000,5968.750000,125.000000,40.900000,1.500000
50%,2017.000000,20200.000000,19000.000000,145.000000,49.600000,2.000000
75%,2019.000000,27990.000000,36464.500000,145.000000,58.900000,2.000000
max,2020.000000,145000.000000,323000.000000,580.000000,188.300000,6.300000

In [72]:
df.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [73]:
data.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [74]:
df = data[data.year != 2017]

In [75]:
df.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
5    A1  2016  13900    Automatic    32260   Petrol   30  58.9         1.4
6    A6  2016  13250    Automatic    76788   Diesel   30  61.4         2.0

In [76]:
len(df)

8733

In [77]:
len(data)

10668

In [78]:
data.isna().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [79]:
data.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [80]:
def object_to_int(pd_df_data,coloum:list):
    info_indexs = {}
    index = -1
    for info_in_coloum in pd_df_data[coloum]:
        if info_in_coloum not in info_indexs.keys():
            index = index + 1
            info_indexs[info_in_coloum] = index
    print(info_indexs)
    print('*'*100)
    final_list = []
    for all_info_object in pd_df_data[coloum]:
        final_list.append(info_indexs[all_info_object])
    print(info_indexs)
    return final_list,info_indexs

In [81]:
with open('model_info_dict.json','w') as json_file:
    info = object_to_int(data,'model')[1]
    print(info)
    json.dump(info,json_file)
data['model'] = object_to_int(data,'model')[0]

{' A1': 0, ' A6': 1, ' A4': 2, ' A3': 3, ' Q3': 4, ' Q5': 5, ' A5': 6, ' S4': 7, ' Q2': 8, ' A7': 9, ' TT': 10, ' Q7': 11, ' RS6': 12, ' RS3': 13, ' A8': 14, ' Q8': 15, ' RS4': 16, ' RS5': 17, ' R8': 18, ' SQ5': 19, ' S8': 20, ' SQ7': 21, ' S3': 22, ' S5': 23, ' A2': 24, ' RS7': 25}
****************************************************************************************************
{' A1': 0, ' A6': 1, ' A4': 2, ' A3': 3, ' Q3': 4, ' Q5': 5, ' A5': 6, ' S4': 7, ' Q2': 8, ' A7': 9, ' TT': 10, ' Q7': 11, ' RS6': 12, ' RS3': 13, ' A8': 14, ' Q8': 15, ' RS4': 16, ' RS5': 17, ' R8': 18, ' SQ5': 19, ' S8': 20, ' SQ7': 21, ' S3': 22, ' S5': 23, ' A2': 24, ' RS7': 25}
{' A1': 0, ' A6': 1, ' A4': 2, ' A3': 3, ' Q3': 4, ' Q5': 5, ' A5': 6, ' S4': 7, ' Q2': 8, ' A7': 9, ' TT': 10, ' Q7': 11, ' RS6': 12, ' RS3': 13, ' A8': 14, ' Q8': 15, ' RS4': 16, ' RS5': 17, ' R8': 18, ' SQ5': 19, ' S8': 20, ' SQ7': 21, ' S3': 22, ' S5': 23, ' A2': 24, ' RS7': 25}
{' A1': 0, ' A6': 1, ' A4': 2, ' A3': 3, ' Q3': 4, ' Q5': 5, ' A5': 6, ' S4': 7, ' Q2': 8, ' A7': 9, ' TT': 10, ' Q7': 11, ' RS6': 12, ' RS3': 13, ' A8': 14, ' Q8': 15, ' RS4': 16, ' RS5': 17, ' R8': 18, ' SQ5': 19, ' S8': 20, ' SQ7': 21, ' S3': 22, ' S5': 23, ' A2': 24, ' RS7': 25}
****************************************************************************************************
{' A1': 0, ' A6': 1, ' A4': 2, ' A3': 3, ' Q3': 4, ' Q5': 5, ' A5': 6, ' S4': 7, ' Q2': 8, ' A7': 9, ' TT': 10, ' Q7': 11, ' RS6': 12, ' RS3': 13, ' A8': 14, ' Q8': 15, ' RS4': 16, ' RS5': 17, ' R8': 18, ' SQ5': 19, ' S8': 20, ' SQ7': 21, ' S3': 22, ' S5': 23, ' A2': 24, ' RS7': 25}